@jsr:registry=https://npm.jsr.io
# This is a security risk, but kept here for backwards compatibility with projects
# that depend on JSR. Migrate await from JSR to native NPM packages as soon as possible.
allow-remote=all